# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
DB_USER=postgres
DB_PASSWORD=Ardijan3!
DB_NAME=onipos
DB_HOST=localhost
DB_PORT=5432

# JWT Configuration
JWT_SECRET=ae882cef103c867b26804cbb2bc07d2a
JWT_EXPIRES_IN=7d

# Upload Configuration
MAX_FILE_SIZE=5242880
